%h1= values[:list_title]

%form{:id => 'search_form'}
  %input{:type => 'text', :id => 'search', :class => 'untouched', :placeholder => 'Enter search terms...', :autocomplete=>'off'}
  %span{:class=>'clear_button', :id=>'clear_button'}
    x

%ol#index-entries{ :class => 'methods' }
  - (values[:attributes] + values[:methods]).uniq.each do |entry|
    %li= link_to_method entry, [classfile(entry.parent), entry.aref].join('#')

%script{:type => 'text/javascript', :src => "method_search.js"}
